body {
    background-image: url("../images/homePic/retina_wood.png");
    z-index: 1;
    height: 100%
}

.main{
    transform:translateX(0);
    z-index: 9;
    margin:0px;
}
footer {
    margin:-42px;
    z-index: 10;
}

/* 分類條 */
 .menu {
      background-color: #69AE1E;
  }
 .menu #home a {
     position: relative;
     top: 10px;
     background-color: rgb(66, 108, 18);
     box-sizing:content-box;
     padding: 15px 16px 15px 16px;
}
.menuDetail {
    line-height: 46px;
    height: 48px;
    font-size: 25px;
    margin: 0 10px;
    top: 5px;
    text-align: center;
}

/* 中間身體 */
.cenBody {
    background-color:white;
    z-index: 7;
    font-size: 25px;
}
.cenBody  .leftImg {
    position: relative;
    left: 50px;
}

/*.cenBody  .rightImg {*/
/*     position: relative;*/
/*     right: 50px;*/
/*}*/
/* 數量按鈕 */
.cenBody  .rightImg form .num{
    text-align:center;
    width: 50px;
}

.cenBody  .rightImg form .rightButton {
    width: 25px;
    position: relative;
    right: 10px;
}
.cenBody  .rightImg form .leftButton {
    width: 25px;
    /* height: 20px; */
    position: relative;
    left:  10px;
}
.cenBody  .rightImg form .bs {
    position: relative;
    top: -3px;
}
/* 輪播圖 */
.cenBody  .leftImg .banner {
    width: 470px;
    overflow: hidden;
}

.cenBody  .leftImg .banner .list {
    position: relative;
    width: 3600px;
}
.cenBody  .leftImg .banner .list .rsimg {
    height: 500px;
    max-width: 500px;
    object-fit:contain;
    margin: 20px 0px;

}
.cenBody  .leftImg .rsNavItem {
    float: left;
    overflow: hidden;
    width: 94px;
    margin: 5px;
    height: 105px;
}

/* 推薦食譜 */
.cenBody .recommend{
    position: relative;
    /* background-color: #69AE1E; */
}
.cenBody .recommend p{
    /* top: 1000px; */
    left: 20px;
    position: relative;

}
.cenBody .recommend a{
    color: black;
}

.cenBody .recommendRecipe {
    /*position: relative;*/
    /*left: 100px;*/
    /*float: left;*/
}


.cenBody .recommendRecipe img {
    height: 120px;
    margin: 10px;
}
.cenBody .recommendRecipe p {
    /*float: left;*/

}

/* 同類商品 */
.cenBody .SimilarProducts figure a img {
    width: 200px;
    object-fit:contain;
    height: 200px;

}
.cenBody .SimilarProducts p{
    position: relative;
    left: 20px;
}
.cenBody .SimilarProducts figure {
    width: 200px;
    height: 300px;
    z-index: 5;
    margin: 18px;
}
/* 動態背景 */
canvas {
    position: fixed;
    z-index: -1;
}
/* 左邊浮動區塊 */
.barNav li{
   background-color: white;
}
