
  
.center .wallpaper {
    overflow: hidden;
    margin: 50px 0;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#wallpaper1 {
    background-image: url(./images/test01.jpg);
    
}

#wallpaper2 {
    background-image: url(./images/test02.jpg);
   
}

.wallpaper span {
    display: inline-block;
    text-align: center;
    line-height: 450px;
    width: 100vw;
    background-color: rgba(255, 255, 255, .3);
    color: white;
    font-size: 65px;
    font-weight: 900;
    text-shadow: 0px 0px 10px tomato;
}

.wallpaper span:hover {
    color: tomato;
    text-shadow: 0px 0px 5px white;
}

.contextBlock {
    margin: 15px auto;
    width: 70%;
    height: 500px;

}

.contextBlock .context {
    float: left;
    background-color: #BDE9E6;
    width: 50%;
    height: 100%;

}

.contextBlock .contextImg {
    float: right;
    background-color: #4E7775;
    width: 50%;
    height: 100%;
}