a {
    text-decoration: none;
    }

.memberBlock {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    box-shadow: 1px 1px 3px 3px #aaa;
}

#member-icon {
    position: absolute;
    bottom: 50px;
    left: 35px;
    width: 180px;
    height: 180px;
    border: 3px #fff solid;
    border-radius: 50%;
    box-shadow: 0px 1px 3px 2px #777;
    cursor: pointer;

    background-color: white;
    background-size: cover;
}

#member-icon input {
	cursor:pointer;
	}

#member-imgBackground {

    height: 235px;
    background-image: url(../images/homePic/wall02.jpg);
    background-size: cover;
}

#member-navLinks {
    height: 120px;
}

#member-navLinks > div > span {
    display: inline-block;
    font-size: 25px;
    margin-left: 220px;
    margin-top: 25px;
}

#member-navLinks > div > a {
    float: right;
    padding: 5px 15px;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 16px;

    border: 1px orange solid;
    border-radius: 15px;
    color: #222;
    background-color: white;
}

#member-navLinks > div > a:hover {
    /*border-color: 1px #aaa solid;*/
    border-radius: 15px;
    color: white;
    text-shadow: 0px 0px 3px black;
    background-color: orange;
}

#member-navLinks > div > a:hover .fontIcon {
	color:#fff;
}

#member-navLinks > ul > li {
    display: inline-block;
    list-style: none;
    margin-top: 17px;
    margin-right: 20px;

}

#member-navLinks >ul > li a {
    color: #222;
}

#member-navLinks >ul > li:hover a {
    border-bottom: #aaa 3px solid;
}

#member-navLinks > ul > .currentLink a {
    color: brown;
    border-bottom: brown 3px solid;
}
.memberBlock h2 {
    font-size: 16px;
    text-indent: 2rem;
    margin: 20px;
    color: #db742a;
}
.recipeSimpleContext { 
    margin: 10px auto;
    padding-top: 5px;
}

.recipeSimpleContext > div > a > div {
	padding: 10px;
	margin: 5px;
	height: 220px;
	background-color: wheat;
	border-radius:5px;
}

.recipeSimpleContext > div > a  > div:hover {
	box-shadow: 0 0 5px 5px rgba(245, 222, 179, .3);
	background-color:#fce3b6;
}

.recipeSimpleContext > div > a  > div span {
	color:#666;
}

.fileInput {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: block;
    width: 100%;
    clear: both;
}
.showLines {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #222;
}
.recommendRec {
    margin-top: 70px;
}

.recommendRec ul {
    padding: 0;
}


.recommendRec ul li {
    height: 190px;
    margin-top: 10px;
    padding: 10px;
    list-style: none;
    border-left: 5px solid rgba(62, 199, 183, 0.3);
}

.recommendRec ul li:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
}

.recommendRec ul li img {
    height: 100%;
    background-color: wheat;
    float: left;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../icomoon/./fonts/icomoon.eot?6rzpr');
    src:  url('../icomoon/./fonts/icomoon.eot?6rzpr#iefix') format('embedded-opentype'),
      url('../icomoon/./fonts/icomoon.ttf?6rzpr') format('truetype'),
      url('../icomoon/./fonts/icomoon.woff?6rzpr') format('woff'),
      url('../icomoon/./fonts/icomoon.svg?6rzpr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* Icon 顏色設定 */
.fontIcon {
    font-family: 'icomoon';
    color: #EFB343;
    margin-right:5px;
    font-size: 18px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
}

.hyLink {
    cursor: pointer;
    font-size: 30px;
}


.toUP {
    position: fixed;
    display: none;
    right:5%;
    bottom: 50px;
    z-index: 1;
}

#toUp {
	font-size: 50px;
}