/* userProfile.css  #settingInfoBlock   */
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.contain {
    margin: 75px 125px;
    padding: 35px 50px;
    background:linear-gradient(to bottom, #eee4d2 , transparent);
    background:-webkit-linear-gradient(to bottom, #eee4d2 , transparent);
    border-radius: 10px;
    min-width:500px;
}

.contain h3 {
    display: inline-block;
}

.contain  > ul {
    height: 44px;
    width: 90%;  
    margin:15px 25px;
    border-bottom: 1px solid #aaa;
    padding: 0;
}

.contain  > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    height: 45px;
    line-height: 45px;
}

.contain  > ul > li > a {
    color: #2d5739;
    font-weight: 400;
}

.contain  > ul > .current {
    background-color: #fbfbfb;
    border: 1px solid #aaa;
    border-bottom-color: #fbfbfb;
}

.contain  > ul > .current a {
    color:black;
}

.contain > section {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    
}

.contain > section > div {
    position: relative;
    height: 210px;
    width: 320px;
    border: 1px solid #bbb;
    margin: 20px;
    vertical-align: middle;
    border-radius: 2px;
    
}

.contain > section > .createNew {
    cursor: pointer;
}

.contain > section > .createNew > p {
    position: relative;
    display: block;
    color: #2d5739;
    text-align: center;
    height: 210px;
    width: 320px;
    top: 40%;
    
}

.contain > section > .created {
    position: relative;
    background-color: white;
    border: 1px solid #bbb;
    padding-left: 25px;
}

.contain > section div:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
}

.contain > section > .used {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
}

.contain > section > .created img {
    position: relative;
    top: 15px;
    width: 50px;
    height: 30px;
    margin-left: -10px;
}

.contain > section > .created h5 {
    margin-top: 30px;
    font-size: 30px;
}

.contain > section > .created h5 :first-child {
    font-size: 20px;
    display: inline-block;
    margin: 5px;
    margin-bottom: 0;
}

.contain > section > .created .btnDel {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 2px 5px;
    font-size: 13px;
    background-color: white;
    border: tomato 1px solid;
    border-radius: 5px;
    color: tomato;
    cursor: pointer;
}

.contain > section > .created .btnDel:hover {
    background-color: tomato;
    color: white;
}

.contain > section > .created p {
    color: #777;
    font-size: 16px;
}

.contain > section > .created #lastTime {
    position: relative;
    font-size: 13px;
    top:20px;
    left: 5px;
}

.mask {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: rgba(0, 0, 0, .3);
}

.mask > #editConsole {
    position: absolute;
    top:50px;
    left: 25%;
    width: 50%;
    height: 350px;
    padding: 35px;
    background-color: #FAFAFA;
    border-radius: 8px;
}


#editConsole #cardPaySection {
	line-height:50px;
    margin: 15px 10px;
    font-size: 16px;
}

#editConsole .cardNumber {
	text-align:center;
	text-indent:0rem;
    margin: 0 10px; 
}

    
#editConsole input, select {
	line-height:30px;
	margin-top:15px; 
	border:#999 1px solid;
}
        
#editConsole input :not(#btnSave){
	text-indent:0.5rem;
	margin-left:20px; 
}

#editConsole #btnSave {
    letter-spacing: 1px;
    display: block;
    background-color: #111;
    color: #eee;
    padding: 5px 10px;
    margin: 35px auto;
    font-weight: 500;
    border-radius: 3px;
}

#editConsole #btnSave:hover {
    background-color: #fff;
    color: #111;
    cursor: pointer;
}

