* {
	letter-spacing:1px;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../icomoon/./fonts/icomoon.eot?6rzpr');
    src:  url('../icomoon/./fonts/icomoon.eot?6rzpr#iefix') format('embedded-opentype'),
      url('../icomoon/./fonts/icomoon.ttf?6rzpr') format('truetype'),
      url('../icomoon/./fonts/icomoon.woff?6rzpr') format('woff'),
      url('../icomoon/./fonts/icomoon.svg?6rzpr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* Icon 顏色設定 */
.fontIcon {
    font-family: 'icomoon';
    color: turquoise;
    padding: 5px;
    margin: 0 10px;
    font-size: 35px;
}


.toUP {
    position: fixed;
    display: none;
    right:5%;
    bottom: 50px;
    z-index: 1;
    cursor:pointer;
}

#toUp {
	font-size: 50px;
}

* {
    padding: 0;
    margin: 0;
    
    /* 字體設定 */
    font-family:"Noto Sans TC", 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}


.container {
    margin-top: 50px;
}

/* Filter Search */

.recFilter {
    position: fixed;
    width: 350px;
    height:430px;
    padding:10px 15px;
    top:100px; 
    background:rgba(237, 217, 173,.5);
    border-radius: 7px;
}

.recFilter input::-webkit-input-placeholder {
    font-size: 14px;
    letter-spacing:0;
}

.recFilter > h3 > input {
    border: #ed8e4a 1px solid;
    background-color: white;
    padding: 5px 12px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    float: right;
}

.recFilter > h3 > input:hover {
	background:rgba(252, 169, 88,.3);
	border-color:#ddd;
}

.recFilter .textSize {
	display:block;
    width: 85%;
    margin:0 5px 20px auto;
}


.underline {
    margin: 25px auto;
    border: 1px solid black;
    background: rgba(0,0,0,.3);
    width:85%;
}

.littleTitle {
    font-size: 22px;
    margin: 15px 10px;
}

.recFilter h5 {
    font-size: 17px;
    text-indent: 1rem;
    margin: 10px 0;
}

.recFilter label {
    font-size: 16px;
    margin: 5px 0;
    text-indent: 1.5rem;
}

#btnRecResult, #btnRecMore {
    display: block;
    margin: 25px auto;
    background-color: #e8c099;
    border-color: #ebba8a;
    color: #222;
}

#btnRecResult:hover , #btnRecMore:hover {
	 background-color: #e0a870;
	 border-color: #666;
	 box-shadow:none;
}


.btn-search {
    margin: 0px 10px;
    padding: 0 30px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: white;
    background-color: #B54484;
}

.btn-search:hover {
    box-shadow: 0px 0px 10px 3px #ddd;
}



/* recipeResult */

ul li {
    list-style: none;
}

.recResult h3 {
	color:#222;
	font-size:22px;
}

.recResult li {
    padding: 0;
    width: 255px;
    height: 400px;
    margin: 10px 3px;
    border:#ddd 1px solid;
    cursor: pointer;
}


.recResult li img {
    width: 100%;
    height:190px;
}

.showLines {
    margin: 15px 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #222;
}

.recResult li h4 {
    height: 50px;
    line-height: 25px;
    -webkit-line-clamp: 2;
    font-size: 17px;

}

.recResult li p {
    height: 66px;
    font-size: 14px;
    line-height: 22px;
    -webkit-line-clamp: 3;
    color: #666;
}

.recResult li:hover {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    animation: slowUp 1s forwards;
}

@keyframes slowUp{
    100% {
        transform: translateY(-1px);
    }
}